


h1 {
  text-align: center;
  color: #3b5998;
}

.chats {

  display: block;

}

.form-group {
  display: block;
}

textarea {
  width: 100%;
  radius: 5px;
}

.scroll {
  height: 600px;
  overflow: scroll;
}

.login {
  background-color: #f7f7f7;
  height: 730px;
}

.navbar {
  background-color: #3b5998;
}

.self {
  text-align: right;
  padding-right: 20px;
  border-radius: 5px;
  border-color: #8b9dc3;
  border-style: solid;
  background-color: #0084ff;
  width: auto;
  overflow: auto;
  font-color: #FFF;
}
