


h1 {
  text-align: center;
  color: #3b5998;
}

.chats {

  display: block;

}

.form-group {
  display: block;
}

textarea {
  width: 100%;
  radius: 5px;
}

.scroll {
  height: 600px;
  overflow: scroll;
}

.login {
  background-color: #f7f7f7;
  border-radius: 10px;
  height: 730px;
  padding: 5px 0px 0px 40px;
}

.navbar {
  background-color: #3b5998;
}

.self {

  right: 20px;
  text-align: right;
  margin: 5px;
  padding: 10px 15px;

  margin-left: auto;
  background-color: #8b9dc3;
  color: #ffffff;
  border-radius: 30px;
  width: fit-content;

  white-space: pre-wrap;
}
.space {
  width: 65%;
}
.chat {
  left: 20px;
  margin: 5px;
  padding: 5px 15px;

  white-space: pre-wrap;

  width: fit-content;
  background-color: #f7f7f7;
  border-radius: 30px;

}
