


h1 {
  text-align: center;
  color: blue;
}

.chats {

  display: block;

}

.form-group {
  display: block;
}

textarea {
  width: 100%;
  radius: 5px;
}

.scroll {
  height: 600px;
  overflow: scroll;
}
